.bg{
    background-image: url('assert/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.pepe{
    height: 150px;
    width: 150px;
    color: aliceblue;
}
.vivo{
 color: aliceblue;
}
.poro{
    color: aliceblue;
}

.piri{
    margin-left:45px;
   }
   .poro{
       position:relative;
       left: 40px;
   }
   body {
       background: url(image/galaxy.jpg);
   }
   h1{
       color: aliceblue;
   }